html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;
}

.masthead {
  padding: 1em;

  background: #000531 url("../img/mavi.jpg") no-repeat center center;
  background-size: cover;

  color: #fff;
}

.masthead-kompleks {
  background-image: url("../img/siyah.jpg");
}

.current {
  background-color: #000531;
  color: #fff;
}

.nav-top {
  font-size: 1.25rem;
}
.nav-bottom {
  font-size: 1.50rem;
  color: red;
}
