html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;
  background-color: ##faf8f7;
}

h1, strong, h2 {
  color: black;
}

h2 {
  background-color: black;
  color: white;
}

p {
  background-color: yellow;
}

a {
  color: #000000;
  font-style: oblique;
  font-family: sans-serif;
}

h1 + p {
  color: black;
}

ul li:first-child {

}

ul li:last-child {

}

.xyz li:nth-child(even) {
  background-color: lightpink;
}

.xyz li:nth-child(odd) {
  background-color: orange;
}

.xyz li:nth-child(4) {
background-color: black;
color: white;
}
