html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;
  background-color: #ff0000;
}

h1, strong, h2 {
  color: white;
}

h2 {
  background-color: darkblue;
  color: lightblue;
}

p {
  background-color: yellow;
}

a {
  color: #ffffff;
}

h1 + p {
  background-color: black;
  color: white;
}

ul li:first-child {
  background-color:  purple;
}

ul li:last-child {
  background-color: lightgreen;
}

.xyz li:nth-child(even) {
  background-color: lightpink;
}

.xyz li:nth-child(odd) {
  background-color: orange;
}

.xyz li:nth-child(4) {
background-color: black;
color: white;
}
