---
layout: default
titleAfter: Hoş Geldin
meta: Web Siteme Hoş geldin
priority: 1.0
---
    <h2 class="header">İçerik</h2>
    <div>
      {%for degisken in site.data.ilginc-haberler %}
      <div class="header">
         <a href="{{site.baseurl}}/kompleks/{{planet.folder}}/">{{degisken.title}}</a>
         {{degisken.content | markdownify }}
      </div>
      {% endfor %}
    </div>

    <h2 class="header">Oyunlar</h2>

    <div>
      {%for farkli in site.categories.yeni %}
      <div class="header">
         <a href="{{site.baseurl}}{{yeni.url}}/">{{farkli.title}}</a>
         <p>{{yeni.meta}}</p>
      </div>
      {% endfor %}
    </div>
