<nav class="sekme">
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">Ana Sayfa</a></li>
    <li><a href="{{site.baseurl}}/kompleks/" class="{% if page.url contains 'kompleks' %}current{% endif %}">Kompleks</a></li>
      <li><a href="{{site.baseurl}}/koleksiyon/" class="{% if page.url contains 'komleksiyon' %}current{% endif %}">Koleksiyon</a></li>
    <li><a href="{{site.baseurl}}/yeni/" class="{% if page.url contains 'yeni' or page.url contains 'son-dakika-haberleri' %}current{% endif %}">Yeni</a></li>
  </ul>
</nav>
