<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {% if page.title %}{{page.title}} · {% endif %}Zeki Baran Yücel{% if.page.titleAfter %} · {{page.titleAfter}}{% endif %} </title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
  </head>
  <body>
<header class="masthead {{page.mastheadClass}}">
  <h1 class="sitebaslik">zbaranyucel.com</h1>
{% include nav.html navclass='nav-top' %}
</header>

    {{content}}

<footer>



<p>  </p>

</footer>

  </body>
</html>
