<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {% if page.title %}{{page.title}} · {% endif %}Zeki Baran Yücel{% if.page.titleAfter %} · {{page.titleAfter}}{% endif %} </title>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  </head>
  <body>
<header class="masthead {{page.mastheadClass}}">
  <h1>Web Sitem</h1>
{% include nav.html navclass='nav-top' %}
</header>

    {{content}}

<footer>

{% include nav.html navclass='nav-bottom' %}

<p> alt kısım </p>

</footer>

  </body>
</html>
